.userlogo {
  border-radius: 50%;
  width: 18px;
  margin-right: 4px;
}
.airbnb-logo {
  width: 100px;
}

.login-bg {
  background-image: url("https://res.cloudinary.com/dsko6ntfj/image/upload/v1642399115/portal/web%20development%20beginners/05%20Project%20Airbnb/assets/thailand.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.userlogo-profile-pg {
  border-radius: 50%;
  width: 32px;
}
